<h1>All Categories!</h1>

<div class="center">
  <% @categories.each do |category| %>
  <div class="text-uppercase", id="categories">
    <%= link_to category.name, category_path(category) %><br>
  </div>
    <% if current_user.admin? %>
      <%= button_to "delete this", admin_category_path(category), method: :delete, class: "btn-warning" %>
    <% end %>
  <% end %>

  <% if current_user.admin? %>
    <%= link_to "Add category", new_admin_category_path %>
  <% end %>
</div>
