<h1>All Categories!</h1>

<div class="">
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category) %>
    <% if current_user.admin? %>
      <%= link_to "delete this", admin_category_path(category), method: :delete %>
    <% end %>
  <% end %>
</div>
