<h1>Category Page for <%= @category.name %></h1>
<div class="">
  <%= @category.name %> gifs
</div>

<% @category.gifs.each do |gif| %>

<div class="gif">
  <iframe width='640' height='390' src="<%= gif.image_url %>" frameborder="0"></iframe><br/>
</div>
<div class="">
  <%= button_to "Add to Favorites", favorite_gif_path(gif, type: "favorite"), method: :put %>
</div>

<% end %>
